* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #0a0a0a;
    color: white;
    font-family: "Segoe UI", sans-serif;
    overflow-x: hidden;
}

.background {
    position: fixed;
    inset: 0;

    background:
        radial-gradient(circle at top left, #00ffff22, transparent 30%),
        radial-gradient(circle at bottom right, #8a2be222, transparent 30%),
        #0a0a0a;

    z-index: -1;
}

header {
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    font-size: 4rem;
    margin-bottom: 10px;

    background: linear-gradient(90deg, cyan, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header p {
    color: #aaa;
    font-size: 1.2rem;
}

.games {
    width: min(1200px, 95%);
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;

    padding-bottom: 50px;
}

.card {
    background: rgba(255,255,255,0.05);

    border: 1px solid rgba(255,255,255,0.1);

    border-radius: 25px;

    padding: 30px;

    cursor: pointer;

    transition: 0.3s;

    backdrop-filter: blur(10px);

    min-height: 280px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
}

.card .icon {
    font-size: 5rem;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    text-align: center;
    color: #bbb;
}

.sans:hover {
    box-shadow: 0 0 30px cyan;
    border-color: cyan;
}

.solitario:hover {
    box-shadow: 0 0 30px lime;
    border-color: lime;
}

.ajedrez:hover {
    box-shadow: 0 0 30px gold;
    border-color: gold;
}

footer {
    text-align: center;
    padding: 20px;
    color: #666;
}

.mario:hover {
    box-shadow: 0 0 30px #ff4d4d;
    border-color: #ff4d4d;
}

.pokemon:hover{
    box-shadow:0 0 30px #00ff88;
    border-color:#00ff88;
}
